{% extends 'base.html' %}
{% load static %}
{% block title %}
Django CMS | Inbox | {{ receiver.name }}
{% endblock %}
{% load custom %}
{% block content %}

<div class="container-fluid">
    <h2>Chats</h2>
    <hr>
    <div class="row">
    {% for msg in userMessages %}
        {% if msg.sender.id != request.session.loggedInUser.id %} 
        <div class="col-md-12 mb-1">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1 mb-3">
                            <img height="50px" width="50px" class="rounded-circle" src="{{ msg.sender.profile_pic.url }}" alt="">
                        </div>
                        <div class="col-md-11 mt-2">
                           {{ msg.sender.name }}
                           <br>
                           <a href="{% url 'profile' profile_id=msg.sender.id %}" class="btn btn-sm btn-dark">Profile</a>
                           <a href="{% url 'addMessage' profile_id=msg.sender.id %}" class="btn btn-sm btn-success">Chat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>    
    
{% endblock%}