{% extends 'base.html' %}
{% load static %}
{% block title %}
Django CMS | Friend Request
{% endblock %}
{% load custom %}
{% block content %}

<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
        <div class="mx-3 mt-3 alert alert-{{ message.tags }} success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}	
    <div class="row">
        <div class="col-md-6">
            <div class="row">
              {% if reqs|length > 0 %}
                {% for req in reqs %}
                    <div class="col-md-12">
                        <div class="card mb-3 border-left-dark shadow" style="max-width: 540px;" >
                          <div class="row no-gutters">
                            <div class="col-md-4 m-3">
                              <img style="height:150px" src="{{ req.sender.profile_pic.url }}" class="card-img" alt="...">
                            </div>
                            <div class="col-md-6">
                              <div class="card-body">
                                <h5 class="card-title"><a style="text-decoration:none" href="{% url 'profile' profile_id=req.sender.id %}">{{ req.sender.name }} </a></h5>
                                <p class="card-text"><a style="text-decoration:none" href="{% url 'profile' profile_id=req.sender.id %}">{{ req.sender.email }} </a>
                                <br>
                                <p class="card-text"><small class="text-muted">Join on {{ req.sender.created_at }}</small></p>
                                 <div>
                                  <a href="{% url 'friendReq' %}?sender={{ req.sender.id }}&receiver={{ req.receiver.id }}" class="btn btn-primary">Accept</a>
                                  <a href="#" class="btn btn-danger">Cancel</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                {% endfor %}
              {% else %}
                <div class="col-md-12">
                   <h3 class="text-center">No Friend Request</h3> 
                </div>
              {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock%}