{% extends 'base.html' %}
{% load static %}
{% block title %}
Django CMS | Posts
{% endblock %}
{% load custom %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
        <div class="mx-3 mt-3 alert alert-{{ message.tags }} success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
    
    <button type="button" onclick="function back(){window.history.back()}; back();" class="btn btn-primary mb-3">
        <i style="color:white;" class="fas fa-arrow-left"></i> </button>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Posts</h6>
        </div>
        <div class="card-body">
        <button type="button" class="btn btn-success btn-sm mb-3" data-toggle="modal" data-target="#exampleModalCenter">
            + Add Post
        </button>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Slug</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>Image</th>
                            <th>Body</th>
                            <th>Like total</th>
                            <th>Comment total</th>
                            <th>Last Update</th>
                            <th>Created at</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Title</th>
                            <th>Slug</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>Image</th>
                            <th>Body</th>
                            <th>Like total</th>
                            <th>Comment total</th>
                            <th>Last Update</th>
                            <th>Created at</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% if allPost %}
                        {% for post in allPost %}
                        <tr>
                            <td>{{ post.title|truncatechars:17 }}</td>
                            <td>{{ post.slug|truncatechars:17 }}</td>
                            <td>{{ post.category }}</td>
                            <td> <a href="{% url 'profile' profile_id=post.user.id %}">{{ post.user }}</a> </td>
                            <td><img class="image-fluid mb-3" height="50px" width="50px" src="{{ post.image.url }}" alt="{{ post.title }}"></td>
                            <td>{{ post.body|truncatechars:10 }}</td>
                            <td>{{ allLike|countLC:post.id }}</td>
                            <td>{{ allComment|countLC:post.id }}</td>
                            <td>{{ post.updated_at }}</td>
                            <td>{{ post.created_at }}</td>
                            <td>
                                <a href="{% url 'allPostById' post_id=post.id %}" type="button" class="btn btn-circle btn-warning m-1"> <i class="fas fa-eye"></i></a>
                                <a href="{% url 'allPost' %}?delete={{ post.id }}" type="button" class="btn btn-circle btn-danger m-1"> <i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="10">
                                <h3 class="text-center">No post found</h3>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-light">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'allPost' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="postTitle">Post Title</label>
                        <input required value="{{ oldData.title }}" name="postTitle" type="text" class="form-control" id="postTitle" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="postSlug">Post Slug</label>
                        <input required value="{{ oldData.slug }}" name="postSlug" type="text" class="form-control" id="postSlug" placeholder="Enter slug">
                    </div>
                    <div class="form-group">
                        <label for="postBody">Body</label>
                        <textarea required class="form-control" name="postBody" id="postBody" cols="30" rows="5">{{ oldData.body }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="postImage">Post Image</label>
                        <input type="file" name="postImage" class="form-control" id="postImage" required>
                    </div>
                    <div class="form-group">
                        <label for="postCategory">Post Category</label>
                        <select required class="form-control" name="postCategory" id="postCategory">
                            {% for category in allCategory %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <div>
                            <div class="form-group">
                                <label for="postUser">Post User</label>
                                <select required class="form-control" name="postUser" id="postUser">
                                    {% for user in allUser %}
                                    <option value="{{ user.id }}">{{ user.name }}</option>
                                    {% endfor %}
                                </select>
                                <div>
                                    <button type="submit" class="btn btn-warning mt-3">Submit Post</button>
                                    <button type="button" class="btn btn-danger mt-3" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}