{% extends 'base.html' %}
{% load static %}
{% block title %}
Django CMS | View Post
{% endblock %}
{% block content %}

<div class="container-fluid mb-3">
    <div class="card mb-5 border-0 shadow">
        <div class="card-header bg-warning border-0 text-light">
            Post
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="mx-3 mt-3 alert alert-{{ message.tags }} warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="card-body">
            <img class="image-fluid mb-3" height="220px" width="280" src="{{ post.image.url }}" alt="{{ post.title }}">
            <div class="col-md-6 offset-md-3">
                <button type="button" class="btn btn-dark mb-2">
                    Likes <span class="badge badge-light">{{ post.like_total }}</span>
                </button>
                <button type="button" class="btn btn-primary mb-2">
                    Comments <span class="badge badge-light">{{ post.comment_total }}</span>
                </button>
                <button type="button" class="btn btn-info mb-2" data-toggle="modal" data-target="#exampleModalCenter">
                  <i class="fas fa-edit"></i> Edit Post
                </button>
                <button type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#exampleModalCenter2">
                  <i class="fas fa-edit"></i> Edit Cover Image
                </button>
            </div>
            <hr>
            <h3 class="card-title">{{ post.title }} <span class="badge badge-danger">{{post.category }}</span> </h3>
            <small 
            class="text-muted">Posted at {{ post.created_at }}</small>
            <p class="card-text"><strong>Body :</strong> {{ post.body }}</p>
        </div>
        <div class="card-footer bg-warning text-light">
            <span class="float-left">Posted at {{ post.created_at }}</span>
            <span class="float-right">Last update on {{ post.updated_at }}</span>
        </div>
    </div>
</div>

<!-- Modal 1 -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-light">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'allPostById' post_id=post.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="postTitle">Post Title</label>
                        <input value="{{ post.title }}" name="postTitle" type="text" class="form-control" id="postTitle" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="postSlug">Post Slug</label>
                        <input value="{{ post.slug }}" name="postSlug" type="text" class="form-control" id="postSlug" placeholder="Enter slug">
                    </div>
                    <div class="form-group">
                        <label for="postBody">Body</label>
                        <textarea class="form-control" name="postBody" id="postBody" cols="30" rows="5">{{ post.body }}</textarea>
                    </div>
                    <div class="form-group">
                      <label for="postCategory">Post Category</label>
                        <select class="form-control" name="postCategory" id="postCategory">
                          {{ options }}
                        </select>
                    <div>
                    <button type="submit" class="btn btn-warning mt-3">Update Post</button>
                    <button type="button" class="btn btn-danger mt-3" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-light">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'allPostById' post_id=post.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                     <img class="image-fluid mb-3" height="160px" width="200" src="{{ post.image.url }}" alt="{{ post.title }}">
                    <div class="form-group">
                        <label for="postImage">Cover Image</label>
                        <input required name="postImage" type="file" class="form-control" id="postImage">
                    </div>
                    <button type="submit" class="btn btn-warning">Update Cover Image</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
