<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Django Blog</title>
</head>
<body>

<!-- Navber -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">Django Blog</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="/">Home</a>
			<a class="nav-item nav-link active" href="{% url 'post_new' %}">+ New Post</a>
		</div>
	</div>
</nav>

<div class="container p-3">
{% if user.is_authenticated %}

<p>Hi {{ user.username }}!</p>
<p><a href="{% url 'logout' %}">Log out</a></p>


{% else %}
<p>You are not logged in.</p>
<a href="{% url 'login' %}">Log In</a> |
<a href="{% url 'signup' %}">Signup</a>
{% endif %}

</div>

<!-- Main Content -->

<div class="container p-3">
{% block content %}
{% endblock %}
</div>
<!-- Footer -->

<footer class="text-muted text-center">
	<div class="container">
		<p class="float-right">
			<a href="/">Back to top</a>
		</p>
		<hr>
		<p>&copy; Django Blog 2020 <br> Design by | <a href="https://facebook.com/404error.py">HASAN</a> </p>
		
	</div>
</footer>

<!-- Bootstrap Link -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>