{% extends 'base.html' %}
{% load static %}
{% block title %}
Django CMS | Categories
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <a type="button" class="btn btn-primary mb-3" href="{% url 'dashboard' %}">
        < Back
    </a>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header bg-success py-3">
            <h6 class="m-0 font-weight-bold text-light">Category Table</h6>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="mx-3 mt-3 alert alert-{{ message.tags }} warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="col-md-6 mt-3">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
                + Add Category
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if allCategory %}
                        {% for category in allCategory %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.description|truncatechars:10 }}</td>
                            <td>{{ category.created_at }}</td>
                            <td>{{ category.updated_at }}</td>
                            <td>
                                <a href="{% url 'allCategoryById' cat_id=category.id %}" type="button" class="btn btn-success"> <i class="fas fa-eye"></i></a>
                                <a href="{% url 'allCategory' %}?delete={{ category.id }}" type="button" class="btn btn-danger"> <i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="10"><h3 class="text-center">No category found</h3></td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'allCategory' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="categoryName">Category Name</label>
                        <input name="categoryName" type="text" class="form-control" id="categoryName" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="categoryDiscription">Description</label>
                        <textarea class="form-control" name="categoryDiscription" id="categoryDiscription" cols="10" rows="3" placeholder="Discription here..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Add Category</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}