{% extends 'base.html' %}
{% load static %}
{% block title %}
Django CMS | Categories
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
        <div class="mx-3 mt-3 alert alert-{{ message.tags }} success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}

    <button type="button" onclick="function back(){window.history.back()}; back();" class="btn btn-primary mb-3">
       <i style="color:white;" class="fas fa-arrow-left"></i> </button> 
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Categories</h6>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-success btn-sm mb-3" data-toggle="modal" data-target="#exampleModalCenter">
            + Add Category
            </button>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>   
                            <th>Select <input class="checkBoxs" name="" type="checkBox"></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Select</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% if allCategory %}
                        {% for category in allCategory %}
                        <tr>
                            <td><input class="checkBox" value="{{ category.id }}" class="checkBoxs" name="checkBoxArray[]" type="checkBox"></td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.description|truncatechars:10 }}</td>
                            <td>{{ category.created_at }}</td>
                            <td>{{ category.updated_at }}</td>
                            <td>
                                <a href="{% url 'allCategoryById' cat_id=category.id %}" type="button" class="btn btn-circle btn-success"> <i class="fas fa-eye"></i></a>
                                <a href="{% url 'allCategory' %}?delete={{ category.id }}" type="button" class="btn btn-circle btn-danger"> <i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="10">
                                <h3 class="text-center">No category found</h3>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        
        <form id="form" action="" method="POST">
            {% csrf_token %}
            <input type="text" value="Hasan" name="name">
            <button id="btn" class="btn btn-block btn-primary">Click For Ajax Req</button>
        </form>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-light">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'allCategory' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="categoryName">Category Name</label>
                            <input name="categoryName" type="text" class="form-control" id="categoryName" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="categoryDiscription">Description</label>
                            <textarea class="form-control" name="categoryDiscription" id="categoryDiscription" cols="10" rows="3" placeholder="Discription here..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Add Category</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    const csrftoken = getCookie('csrftoken');

    document.getElementById("form").addEventListener("submit", function(e){
        e.preventDefault();
        const data = "Hasan Mahmudul";

        fetch('http://127.0.0.1:8000/like', {
          method: 'POST', // or 'PUT'
          headers: {
            "X-Requested-With": "XMLHttpRequest",
            // 'Content-Type': 'application/json',
            'X-CSRFToken':csrftoken
          },
          body: JSON.stringify({
            'username': data
          })    
        })
        .then(response => response.json())
        .then(data => {
            data.posts = JSON.parse(data.posts)
            for (let i=0; i<data.posts.length; i++){
                console.log(data.posts[i]);
            }
          console.log('Success:', data);
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    });
</script>


{% endblock %} 

